body {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100%;
    overflow: auto;  
}

ul  {
    list-style-type: none;
    margin:  0;
    padding: 0px;
    display: inline;
    

}
li{
    float: right;
    padding: 10px;
}
li a {
  display: block;
  color: rgba(86, 39, 67, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 24px;

}
li a:hover {
  background-color:rgb(175, 158, 175);
  border-radius: 20%;
}
img {
    margin-right:15%;
}
.row{
    display: flex; 
    margin-left:10%;
    margin-top:6%;
}
.image {
    width:50%;
    margin-right:-50%;
    margin-left:10%;
}
.right-column {
    width:40%;
    
    
}
h2 {
    color: whitesmoke;
    font-size:20px;
    text-align: center;
}
textarea #messo {
    margin-left:-5%; ;
}
form {
  margin-left:18%;
  font-size:20px;
}