body{
    background-color:#fff;
}

ul  {
   list-style-type: none;
   margin:  0;
   padding: 0px;
   display: inline;
   /* float: left; */

}
li{
   float: right;
   padding: 10px;
}
li a {
 display: block;
 color: rgba(86, 39, 67, 1);
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 height: 24px;

}
li a:hover {
   background-color: rgb(224, 210, 226);
   border-radius:20%;
 }
.content {
   text-align: center;
    color:rgb(92, 90, 91);
    font-size: 20px;

}
 .firstline {
   display: flex;
   align-items: center;
   align-items: flex-start;
   padding-bottom: 145px;
   margin-left:5%;
   padding: 14px 16px;


 }
 .secon-line {
   display: flex;
   align-items: center;
   align-items: flex-start;
   margin-left:5%;
   padding: 14px 16px;


 }
 .VeroImage {
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px;
 }
 .VeroImage img{
    border-radius: 50%;
 }
 .vero {
   letter-spacing: 0;
   margin-left: 50%;
   margin-right:30%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1);
 }
 .rodgersimage {
   margin-right: 5%;
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px;
 }
 .rodgersimage img {
    border-radius: 50%;
 }
 
 .rog {
   letter-spacing: 0;
   margin-left: 50%;
   margin-right:20%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
 .john {
   margin-right: 10%;
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px;
 }
 .john img {
   border-radius: 50%;
 }
 .jo{
   letter-spacing: 0;
   margin-left: 55%;
   margin-right:18%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
 .charles-image img {
   border-radius:50%;
 }
 .charles {
   letter-spacing: 0;
   margin-left: 20%;
   margin-right:40%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
 .joy-image {
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px; 
 }
 .joy-image img {
    border-radius:50%;
 }
 .joyi {
   letter-spacing: 0;
   margin-left: 40%;
   margin-right:20%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
 .erick-image {
   margin-right: 5%;
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px; 
 }
.erick-image img {
    border-radius: 50%;
 }
 .eri {
   letter-spacing: 0;
   margin-left: 50%;
   margin-right:20%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
.barre-image {
   margin-right: 10%;
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 232px;
   width: 226px; 
 }
 .barre-image img {
    border-radius:50%;
 }
 .mbare {
   letter-spacing: 0;
   margin-left: 55%;
   margin-right:18%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
 }
.james-image img {
   border-radius:50%;
}
.mwai {
   letter-spacing: 0;
   margin-left: 18%;
   margin-right:45%;
   margin-top: 25px;
   min-height: 38px;
   min-width: 144px;
   font-size:19px;
   color: rgba(86, 39, 67, 1); 
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(86, 39, 67, 1);
   color: #fff;
   text-align: center;
}